@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
	padding: 0%;
	margin: 0%;
}
html{
	scroll-behavior: smooth;
}
body{
	width: 100%;
	height: 100vh;
	color: white;
	font-family: 'Poppins', sans-serif;
	overflow-y: auto;
	
}
.nav{
	top: 7.5%;
	left: 0;
	right: 0;
	width: 90%;
	margin: auto;
	position: absolute;
	z-index: 1;
}

.nav a{
	float: right;
	margin-right: 25px;
	text-decoration: none;
	color: white;
	font-size: 14px;
	transition: 0.2s ease-in;
}
.nav img{
	width: 100px;
	float: left;
}
.nav a:hover{
	color: #f3b664;
}
#part2{
	top: 0%;
	background-color: black;
	background-image: url('wallpaper.jpg');
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.4);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: fixed;
	width: 100%;
	height: 100vh;
	
}
.box{
	width: 70%;
	margin: auto;
	margin-top: 4%;
	position: relative;
	display: flex;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.progress{
	margin: auto;
	margin-top: 10%;
	width: 70%;
	text-align: center;
	position: relative;
}
.progress .p_name{
	width: 25%;
	display: inline-block;
	color: white;
}
.progress .p_name h4{
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
}
.progress .p_name h3{
	width: 25px;
	height: 25px;
	font-size: 16px;
	margin-top: 5%;
	padding: 10px 11px;
	background-color: transparent;
	display: inline-block;
	text-align: center;
	border: 2px solid #adadad;
	border-radius: 50%;
}
#menu_title{
	text-align: center;
	padding: 50px 20px 5px;
	background-image: linear-gradient(to bottom left,RGBA(234, 135, 48, 0.4) 20%, rgba(33, 10, 15, 0.9) 50%);

}
#menu_title h1{
	text-align: center;
}
#menu_title p{
	padding-bottom: 20px;
	text-align: center;
	color: #d0d0d0;
}
#cust_info{
	width: 100%;
	display: inline-block;
	background-color: rgba(33, 10, 15,0.85);
	overflow: hidden;
	margin-bottom: 10%;
}
#cust_info table{
	width: 60%;
	border-collapse: collapse;
	color: white;
	font-size: 14px;
	float: left;
	margin: 2.5%;
	
}
#cust_info td{
	padding: 20px 20px 10px 20px;
	color: #d6d6d6;
}
#cust_info table caption{
	padding: 10px;
	color: #f3b664;
	font-size: 30px;
	font-weight: 700;
	text-align: left;
	line-height: 32.5px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

#name, #postal, #email, #number{
	height: 20px;
	margin-top: 5px;
	padding: 1% 1.5%;
	width:  97%;
	border: none;
	border-bottom: 1.5px solid #c3a18c;
	background-color: transparent;
	color: white;
	font-size: 14px;
}
::placeholder{
	color: #999999;
	font-family: 'Poppins';
	font-size: 13px;
}
#address{
	width: 97%;
	margin: auto;
	margin-top: 5px;
	height: 20px;
	padding: 1% 1.5%;
	border: none;
	border-bottom: 1px solid #c3a18c;
	background-color: transparent;
	color: white;
	font-size: 14px;
}
#region-select{
	width: 100%;
	height: 27.5px;
	padding: 1% 1.5%;
	margin-top: 5px;
	border: 1px solid #c3a18c;
	background-color: rgba(255,255,255,0.025);
	color: #d0d0d0;
	font-size: 14px;
}
option{
	color: black;
	background-color: rgb(255,255,255);
}
#lefttd{
	width: 30%;
}
#desc{
	margin-top: 5px;
	width: 97%;
	padding: 1% 1.5%;
	background-color: RGBA(61, 82, 48, 0.3);
	border: none;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
}
#sidebg{
	background-color: #3d5230;
	background-image: url('delivery.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 35%;
	float: left;
}
#cust_info input[type=submit], input[type=reset]{
	background-color: #87a14c;
	border: none;
	color: white;
	padding: 16px 32px;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}
#order{
	width: 100%;
	display: inline-block;
	overflow-y: auto;
	/*background-color: 	RGBA(243, 182, 100, 0.9);*/
}
#order table{
	width: 55%;
	border-collapse: collapse;
	color: white;
	font-size: 14px;
	float: left;
	margin: 2.5%;
}
#food{
	background-color: rgba(33, 10, 15, 0.9);
}
.food_contain{
	display: flex;
	padding: 8% 5%;
}
#order #food #img_food{
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 45%;
	margin-right: 5%;
	border-radius: 20px;
}
#content{
	display: inline-block;
	width: 55%;
}	
.food_contain #content #subhead{
	font-size: 13px;
	font-weight: 400;
	color: #d0d0d0;
}
.food_contain #content #head{
	font-size: 40px;
	font-weight: 700;
}
.food_contain #price{
	font-size: 30px;
	color: #ea8730;
}
.food_contain #ingredients{
	font-size: 17px;
	margin-top: 3%;
	
}
.food_contain #ingr{
	display: flex;
	width: 100%;
}
#bun, #inside, #patty{
	display: inline-block;
	width: 30%;
	padding: 0% 2.5%;
	margin-top: 2%;
	border-right: 2px solid gray;
}
.food_contain input[type=radio], input[type=checkbox]{
	margin-left:7%;
	cursor: pointer;
}
.food_contain input[type=radio]:checked {
	color: #ea8730;
}
#content label{
	font-size: 14px;
	cursor: pointer;
}
#quantity{
	margin-top: 7.5%;
}
#quantity input[type=number]{
	border: 1px solid #f3b664;
	background-color: transparent;
	width: 20%;
	height: 17%;
	padding: 3.5% 4%;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	margin-right: 5%;
	cursor: pointer;
}
#quantity input[type=submit]{
	width: 35%;
	background-color:#87a14c;
	height: 17%;
	padding: 3.5% 4%;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	border: none;
	cursor: pointer;
}

#buy{
	background-color: #87a14c;
	border: none;
	color: white;
	padding: 20px 40px;
	font-size: 20px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	display: inline-block;
	float: right;
}
#place{
	width: 90%;	
	margin-bottom: 5%;
	margin-top: 2.5%;
	padding: 2.5% 5%;
	display: flex;
	align-items: center;
	background-color:	RGB(234, 135, 48, 0.9);
	color: black;
	font-size: 16px;
}
#place input[type=submit]{
	margin-left: auto;
}
#place h4{
	display: inline-block;
	font-size: 25px;
	float: right;
	margin-right: 15%;
	color: #210a0f;
}
#claim{
	width: 30%;
	border: 5px dashed white;
	display: inline-block;
	padding: 20px;
	margin-right: 10%;
}
#claim label{
	cursor: pointer;
}
#mode{
	margin-left: 1%;
	cursor: pointer;
}
